:root {
/* CSS HEX */
--midnight-violet: #2e0014ff;
--espresso: #442220ff;
--palm-leaf: #809848ff;
--muted-olive: #b0ca87ff;
--celadon: #b5deadff;
--glamour-white: #fffbed;
--off-white: #f2f3f4;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  margin: 0 0 0 0
}

a:link {
	color:var(--espresso)
}

a:visited {
  color:var(--espresso)
}

/* mouse over link */
a:hover {
  color:var(--palm-leaf)
}

/* selected link */
a:active {
  color: var(--espresso);
}

p {
	text-align: left;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	color:var(--midnight-violet);
	line-height:1.6;
	margin: 0;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
}

.container > div{
	width: 60%;
	align-self: center;
	background-color: var(--glamour-white);
	margin: 10px;
	padding: 5px 20px;
	border-radius: 10px;
	text-align: center;
	border-radius: 15px;
	border: var(--midnight-violet);
	border-style: solid;
}

.header{
	display: flex;
	justify-content: center;
	
}

.header > div{
	width: 90%;
	align-self: center;
	background-color: var(--glamour-white);
	margin: 10px;
	padding: 5px 20px;
	border-radius: 10px;
	text-align: center;
	border-radius: 15px;
	border: var(--midnight-violet);
	border-style: solid;
}

.post-list{
	list-style-type:none;
}

/* --- Mobile Responsiveness --- */
@media (max-width: 768px) {
	body {
		font-size: 14px; /* Adjust base font size for better readability */
	}
	.header > div{
		width: 90%;
	}
	.container > div{
		width: 90%;
	}
}